<div class="container" id="calendar">
  <table>
    <tr>
      <td class="calendar-cells" ng-class="{ bookEnd: day.month !== currentMonth }" ng-repeat="day in weekOne">{{ day.day }}</td> 
    </tr>
    <tr>
      <td class="calendar-cells" ng-class="{ bookEnd: day.month !== currentMonth }" ng-repeat="day in weekTwo">{{ day.day }}</td> 
    </tr>
    <tr>
      <td class="calendar-cells" ng-class="{ bookEnd: day.month !== currentMonth }" ng-repeat="day in weekThree">{{ day.day }}</td> 
    </tr>
    <tr>
      <td class="calendar-cells" ng-class="{ bookEnd: day.month !== currentMonth }" ng-repeat="day in weekFour">{{ day.day }}</td> 
    </tr>
    <tr>
      <td class="calendar-cells" ng-class="{ bookEnd: day.month !== currentMonth }" ng-repeat="day in weekFive">{{ day.day }}</td> 
    </tr>
    
  </table>
  
</div>

  